@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 레이아웃 설정 */
html {
  @apply overflow-y-hidden;
}

html,
body {
  @apply mx-auto h-[100svh] min-h-screen min-w-[320px] max-w-[600px] overflow-x-hidden bg-white shadow-[0_7px_29px_0_rgba(100,100,111,0.1)];
}

body {
  @apply h-[100svh] bg-background font-pretendard text-gray-800 antialiased;
}

input {
  @apply w-full border-0 border-gray-200 bg-transparent p-4 text-gray-800 transition-all duration-200;
  border-bottom: 1px solid theme('colors.gray.200');
}

input:focus {
  outline: none;
  border-bottom: 1.6px solid theme('colors.primary.500');
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply hidden;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

* {
  @apply m-0 p-0;
}

select {
  @apply w-full p-2;
  outline: none;
  border-bottom: 1px solid theme('colors.gray.200');
}

select:focus {
  outline: none;
  border-bottom: 1.6px solid theme('colors.primary.500');
}

a {
  @apply text-inherit no-underline;
}

/* 커스텀 레이아웃 설정*/
@layer base {
  h1 {
    @apply text-heading01;
  }
  h2 {
    @apply text-heading02;
  }
  h3 {
    @apply text-heading03;
  }
  h4 {
    @apply text-heading04;
  }
  h5 {
    @apply text-heading05;
  }
}

@layer components {
  .card {
    @apply rounded-8 bg-white p-20;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12); /* 직접 box-shadow 적용 */
  }

  .card-dashline {
    @apply rounded-8 p-20 text-body01 text-gray-300;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23C9C9CAFF' stroke-width='3' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  }

  .btn {
    @apply cursor-pointer rounded-8;
  }

  .btn-small {
    @apply h-48 w-148 text-heading05;
  }

  .btn-medium {
    @apply h-48 w-232 text-heading05;
  }

  .btn-large {
    @apply h-56 w-full min-w-280 text-heading04;
  }

  /* 유형별 스타일 */
  .btn-primary {
    @apply bg-secondary-100 text-white hover:bg-primary-500 active:bg-secondary-200;
  }

  .btn-secondary {
    @apply bg-gray-300 text-gray-800 hover:bg-gray-200 active:bg-gray-400;
  }

  .btn-warning {
    @apply bg-system-red text-white;
  }

  .btn-disabled {
    @apply bg-gray-300 text-gray-500;
  }

  .badge {
    @apply shadow-avatar cursor-pointer rounded-40 px-8 py-4 text-body03 transition-all duration-200;
  }

  .badge-selected {
    @apply bg-primary-100 text-primary-500;
  }

  .badge-disabled {
    @apply bg-gray-200 text-gray-400;
  }
}
